$font-family-md-base: 'Lato', "Roboto", "Helvetica Neue", sans-serif;
$button-md-background-color: #ee293d;
$button-md-outline-border-width: 2px;
$button-md-font-size: 1.8rem;
$toolbar-background: transparent;
$toolbar-md-button-color: black;
$toolbar-md-title-text-color: black;